.tools-body button, input[type="file"] {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    text-align: center;
    color: #555;
    border: 1px solid #ededed;
    border-radius: .3em;
    display: inline-block;
    background: transparent;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: .5em 1.25em;
    font-size: .875em;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.tools-body textarea {
    resize: none;
}

.tools-body textarea:read-only {
    background: #fafafa;
}

.tools-body .tools-container {
    display: flex;
}

.tools-body .tools-item {
    flex: 1;
}

.tools-item .tools-title {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
}

.tools-body summary {
    font-size: 18px;
    font-weight: bold;
}

.tools-item label {
    display: block;
    margin: 10px 0;
}

.tools-item label textarea {
    width: 80%;
    height: 140px;
    border-radius: 5px;
    padding: 5px 10px;
}

.tools-item label input, .tools-item label select {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
}
